name: codespaces-dotfiles

on:
  push:
    paths:
      - **
      - .github/workflows/codespaces-dotfiles.yaml
    branches:
      - master
  workflow_dispatch:

env: 
  GITHUB_USERNAME: ${{ github.actor }}

jobs:
  chezmoi:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout codespaces dotfiles repo
        uses: actions/checkout@v3
        with:
          ref: master
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
          repository: ${{ github.actor }}/codespaces-dotfiles

      - name: Setup git
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'

      - name: Generate dotfiles
        run: |
          sh -c "$(curl -fsLS get.chezmoi.io)" -- init --source /home/runner/chezmoi --destination . --apply $GITHUB_USERNAME

      - name: Commit changes
        run: |
          git add .
          git commit -m ':wrench: update dotfiles'
          git push origin master
